container_commands:
    01initDb:
       #command: "php artisan migrate:fresh"
       command: "php artisan migrate"
    02seedDb:
       #command: "php artisan db:seed"
    03copy-env:
       command: "cp .env-production .env"
    #04set-permission:
       #command: "sudo chmod 777 /var/www/html/public/ics"
    #05npmInstall:
       #command: "npm install"
